- hosts: k8s-master
  gather_facts: false
  user: ubuntu
  become: yes
  tasks:
    - raw: logger "serge was here"
    - raw: echo "test" > /home/ubuntu/test.txt
    - pause: seconds=2

    - name: Create weave directory
      file:
        path: /home/ubuntu/.kube
        state: directory

    - name: Create Weave config
      become: yes
      become_method: sudo
      shell: "cp -i /etc/kubernetes/admin.conf /home/ubuntu/.kube/config"

    - name: Change global
      become: yes
      become_method: sudo
      shell: "chown ubuntu:ubuntu /home/ubuntu/.kube/config"

    - name: Install Weave
      become: sudo
      shell: kubectl apply -f "https://cloud.weave.works/k8s/net?k8s-version=$(kubectl version | base64 | tr -d '\n')"
