kind: Service
apiVersion: v1
metadata:
  name: jenkins-ci-service
  labels:
    app: jenkins-v1
spec:
  type: NodePort
  selector:
    app: jenkins-v1
  ports:
  - protocol: TCP
    port: 8080
    nodePort: 30001
    name: http
  - protocol: TCP
    port: 31234
    nodePort: 31234
    name: jnlp
